<div class="header">
  <div class="container-header">
    <h1>Cadastro de Filmes Flex</h1>
    <div>
      <button (click)="clickAddMovie()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btnAdd">Adicionar filme</button>
    </div>
  </div>
</div>

<table width="100%" cellpadding="5" class="table" >
  <thead>
    <tr>
      <th>ID do filme</th>
      <th>Título do filme</th>
      <th>Diretor</th>
      <th>Gênero</th>
      <th>Ano</th>
      <th>Descrição</th>
      <th>Pôster</th>
      <th>Detalhes</th>
    </tr>
  </thead>
    <tbody>
      <tr *ngFor="let data of data">
        <td>{{ data.id }}</td>
        <td>{{ data.titulo }}</td>
        <td>{{ data.diretor }}</td>
        <td>{{ data.genero }}</td>
        <td>{{ data.ano }}</td>
        <td width="215">{{ data.descricao }}</td>
        <td>
            <img width="107" height="143" src="{{ data.poster }}" alt="" srcset="">
        </td>
        <td>
          <button (click)="editMovie(data)" class="btn btnEdit" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Editar</button>
          <button (click)="deleteMovie(data)" class="btn btnDelete">Excluir</button>
        </td>
      </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informações do filme</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label class="form-label">Título do filme</label>
            <input type="text" formControlName="titulo" class="form-control">              
          </div>
          <div class="mb-3">
            <label class="form-label">Diretor</label>
            <input type="text" formControlName="diretor" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Gênero</label>
            <input type="text" formControlName="genero" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Ano</label>
            <input type="text" formControlName="ano" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Descrição</label>
            <textarea type="text" formControlName="descricao" class="form-control"></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label">URL do Pôster</label>
            <input type="text" formControlName="poster" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancelar" class="btn btnClose" data-bs-dismiss="modal">Fechar</button>
        <button type="button" *ngIf="btnAdd" (click)="postMovieDetails()" class="btn btnAdd">Adicionar</button>
        <button type="button" *ngIf="btnUpdate" (click)="updateMovieDetails()" class="btn btnUpdate">Atualizar</button>
      </div>
    </div>
  </div>
</div>