<div class="header">
  <div class="container-header">
    <h1>Cadastro de Filmes Flex</h1>
    <div>
      <button (click)="clickAddMovie(data)" type="button" class="btn btnAdd">Adicionar filme</button>
    </div>
  </div>
</div>

<table width="100%" cellpadding="5" class="table" >
  <thead>
    <tr>
      <th>ID do filme</th>
      <th>Título do filme</th>
      <th>Diretor</th>
      <th>Gênero</th>
      <th>Ano</th>
      <th>Descrição</th>
      <th>Pôster</th>
      <th>Detalhes</th>
    </tr>
  </thead>
    <tbody>
      <tr *ngFor="let data of data">
        <td>{{ data.id }}</td>
        <td>{{ data.titulo }}</td>
        <td>{{ data.diretor }}</td>
        <td>{{ data.genero }}</td>
        <td>{{ data.ano }}</td>
        <td width="215">{{ data.descricao }}</td>
        <td>
            <img width="107" height="143" src="{{ data.poster }}" alt="" srcset="">
        </td>
        <td>
          <button (click)="editMovie(data)" class="btn btnEdit" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Editar</button>
          <button (click)="deleteMovie(data)" class="btn btnDelete">Excluir</button>
        </td>
      </tr>
    </tbody>
</table>
